
:root{
  --de-saturated-dark-cyan: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-image{
  background-color: var(--de-saturated-dark-cyan);
  width:100%;
}

.job-card{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:20px;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--filter-tablets);
  padding:20px;
}
.job-card:hover{
  border-left: 5px solid var(--very-dark-grayish-cyan);
}

.main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:100px;
  align-items: center;
}

.job-info{
  width:50%;
  display:flex;
  align-items:center;

}

.job-domain{
  display:flex;
 
}
.job-domain p{
  margin-right:20%;
}
.job-details{
 width:100%;
}
.job-lists{
  display:flex;
  justify-content:space-between;
  padding:0px;
}
.job-lists li:first-child{
  list-style-type: none;
}
.job-image{
margin-right:20px;
}
.job-position{
  margin:0px;
  text-align: left;
}
.job-btn{
  border:none;
  border-radius: 5px;
  margin:10px;
  outline:none;
  padding:10px 15px;
  color:var(--de-saturated-dark-cyan);
  background-color: var(--filter-tablets);
  font-weight: 700;
}

.job-info-feature-1{
  color: var(--de-saturated-dark-cyan);
}

.job-info-feature-2{
  background-color: var(--de-saturated-dark-cyan);
  color:white;
  padding:5px 10px;
  border-radius: 5px;

}

.job-info-feature-3{
  background-color: var(--dark-grayish-cyan);
  color:black;
  padding:5px 10px;
  border-radius: 5px;
}
.search{
  display:flex;
  min-height:100px;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  margin:-175px auto 100px auto;
  width: 75%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--filter-tablets);
  padding:20px;
}
.close-btn{
  background-color: var(--very-dark-grayish-cyan);
  color:white;
  margin:0;
}
.filter-btn{
  display:flex;
  margin:20px;
}
.search .job-btn{
  margin:0;
}
